# BLOOD BANK DATABASE SYSTEM

#### Cyro Estevao Freire de Lima

#### Link on youtube https://youtu.be/3sVsZ8WZBN0

In [236]:
%load_ext sql
%matplotlib inline

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [237]:
import matplotlib.pyplot as plt
import os
import configparser
import pandas as pd
from sqlalchemy import create_engine

In [238]:
mysqlcfg = configparser.ConfigParser()
mysqlcfg.read("/home/jovyan/DataSystems/mysql.cfg")
dburl = mysqlcfg['mysql']['url']

os.environ['DATABASE_URL'] = dburl 
eng = create_engine(dburl)
con = eng.connect()

In [239]:
%sql SELECT version()

 * mysql://cyfr7595:***@applied-sql.cs.colorado.edu:3306/cyfr7595
1 rows affected.

[('8.0.33',)]

## CREATING TABLES BLOODBANK, DONOR, PATIENT

OBS: The reason bloodbankID in the Donor's table and donorID in the Patient's table is to avoid similarity of the names
Time is 24 hours

In [240]:
%%sql
DROP TABLE IF EXISTS BloodBank, Donor, DonorBloodBank, Patient, Transfusion, TransfusionPatientBB;

-- Create BloodBank table
CREATE TABLE IF NOT EXISTS BloodBank (
    BloodBankID INT AUTO_INCREMENT PRIMARY KEY,
    BloodBankName VARCHAR(100),
    BloodBankAddress VARCHAR(200),
    BloodBankContactNumber VARCHAR(20),
    A_Positive_Units INT, 
    A_Negative_Units INT, 
    B_Positive_Units INT,
    B_Negative_Units INT,
    AB_Positive_Units INT,
    AB_Negative_Units INT,
    O_Positive_Units INT,
    O_Negative_Units INT
);

-- Create Donor table
CREATE TABLE IF NOT EXISTS Donor (
    DonorID INT AUTO_INCREMENT PRIMARY KEY,
    DonorName VARCHAR(100),
    DonorBloodGroup VARCHAR(10),
    DonorMedicalReport TEXT,
    DonorAddress VARCHAR(200),
    DonorContactNumber VARCHAR(20),
    bloodbankID INT REFERENCES BloodBank(BloodBankID),
    donationTime TIME

);

-- Create Patient table
CREATE TABLE IF NOT EXISTS Patient (
    PatientID INT AUTO_INCREMENT PRIMARY KEY,
    PatientName VARCHAR(100),
    PatientBloodGroup VARCHAR(10),
    PatientDisease VARCHAR(100),
    donorID INT REFERENCES Donor(DonorID)  -- Foreign key reference to Donor table
);

-- Create Transfusion table
CREATE TABLE Transfusion (
    Transfusion_ID INT AUTO_INCREMENT PRIMARY KEY, 
    Date_Time DATETIME, 
    Donation_ID INT, 
    Patient_ID INT, 
    Medical_Professional VARCHAR(90), 
    BloodBank_ID INT, 
    Amount INT,
    FOREIGN KEY(Donation_ID) REFERENCES Donor(DonorID),
    FOREIGN KEY(Patient_ID) REFERENCES Patient(PatientID),
    FOREIGN KEY(BloodBank_ID) REFERENCES BloodBank(BloodBankID));

 * mysql://cyfr7595:***@applied-sql.cs.colorado.edu:3306/cyfr7595
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

## INSERTING VALUES ON THE TABLES (BLOODBANK, DONOR, PATIENT)

In [241]:
%%sql
-- Insert data into the BloodBank table
INSERT INTO BloodBank (
    BloodBankName,
    BloodBankAddress,
    BloodBankContactNumber,
    A_Positive_Units,
    A_Negative_Units,
    B_Positive_Units,
    B_Negative_Units,
    AB_Positive_Units,
    AB_Negative_Units,
    O_Positive_Units,
    O_Negative_Units
)
VALUES
('ABC Blood Bank', '789 Oak St, Cityville', '555-123-4567', 20, 15, 25, 10, 12, 8, 30, 20),
('XYZ Blood Bank', '321 Maple St, Townburg', '999-876-5432', 15, 10, 18, 8, 10, 5, 22, 15),
('Blood Bank 1', '123 Elm St, Villagetown', '555-111-2222', 25, 20, 30, 15, 18, 10, 35, 25),
('Blood Bank 2', '456 Birch St, Hamletville', '777-333-4444', 18, 12, 20, 10, 15, 8, 28, 18),
('Blood Bank 3', '789 Pine St, Countryside', '888-555-6666', 30, 25, 35, 18, 22, 15, 40, 30),
('City Blood Center', '555 Main St, Metropolitan', '111-222-3333', 22, 18, 28, 12, 16, 10, 32, 24),
('Rural Blood Services', '777 Countryside Rd, Farmland', '333-444-5555', 17, 14, 20, 9, 12, 7, 25, 18),
('Community Blood Bank', '888 Grove Ave, Suburbia', '444-555-6666', 28, 23, 32, 15, 20, 12, 36, 28),
('Urban Blood Facility', '101 Downtown Blvd, Cityscape', '222-333-4444', 30, 25, 35, 18, 22, 15, 40, 30),
('Northern Blood Bank', '444 Frost St, Polarville', '777-888-9999', 15, 12, 18, 8, 10, 5, 22, 15),
('Southern Blood Center', '666 Blaze Rd, Sun City', '333-222-1111', 23, 20, 28, 12, 16, 10, 32, 24),
('Eastern Blood Services', '987 Sunrise Blvd, Horizon Town', '111-555-9999', 20, 15, 25, 10, 12, 8, 30, 20),
('Western Blood Bank', '222 Sunset St, Twilightville', '888-111-2222', 18, 14, 22, 10, 15, 7, 28, 18),
('Coastal Blood Facility', '555 Ocean Dr, Waterfront', '777-444-5555', 25, 22, 30, 15, 18, 10, 35, 25),
('Mountain Blood Center', '321 Peak Ave, Summit City', '666-999-3333', 17, 12, 20, 9, 12, 7, 25, 18),
('Valley Blood Services', '456 Lowland Rd, Basinville', '555-666-7777', 30, 25, 35, 18, 22, 15, 40, 30),
('Heartland Blood Bank', '789 Heart St, Central City', '333-111-5555', 28, 23, 32, 15, 20, 12, 36, 28),
('Great Plains Blood Center', '101 Prairie Blvd, Openfield', '444-666-9999', 22, 18, 28, 12, 16, 10, 32, 24),
('Midwest Blood Facility', '999 Wheat Rd, Plainsville', '999-888-7777', 20, 15, 25, 10, 12, 8, 30, 20),
('Sunshine Blood Bank', '123 Sunny St, Beachtown', '777-666-5555', 18, 14, 22, 10, 15, 7, 28, 18);

 * mysql://cyfr7595:***@applied-sql.cs.colorado.edu:3306/cyfr7595
20 rows affected.

[]

In [298]:
%%sql
-- Insert data into the Donor table

INSERT INTO Donor (DonorName, DonorBloodGroup, DonorMedicalReport, DonorAddress, DonorContactNumber, bloodbankID, donationTime)
VALUES
('David Johnson', 'B+', 'Healthy', '123 Main St, Anytown', '123-456-7890', 1, '12:30'),
('Emily White', 'AB-', 'No medical issues', '456 Elm St, Othertown', '987-654-3210', 1, '09:30'),
('Michael Brown', 'A-', 'No health concerns', '789 Oak St, Cityville', '555-111-2222', 2, '10:45'),
('Sophia Miller', 'O+', 'Leukemia', '321 Maple St, Townburg', '999-222-3333', 2, '14:15'),
('James Smith', 'AB+', 'Medical history available', '555 Pine St, Villagetown', '333-444-5555', 3, '11:30'),
('Olivia Davis', 'B-', 'Healthy donor', '777 Cedar St, Hamletville', '777-888-9999', 3, '13:00'),
('Ethan Johnson', 'O-', 'No medical issues reported', '111 Birch St, Farmland', '444-555-6666', 4, '15:30'),
('Emma Wilson', 'A+', 'No known health problems', '888 Spruce St, Suburbia', '555-666-7777', 4, '08:45'),
('Noah Taylor', 'A-', 'Healthy donor', '555 Fir St, Cityscape', '999-777-8888', 5, '16:15'),
('Ava Harris', 'O+', 'Medical history available', '777 Willow St, Polarville', '222-333-4444', 5, '14:30'),
('Mia Johnson', 'B+', 'No health issues', '999 Pine St, Sun City', '111-555-9999', 6, '09:00'),
('Liam Davis', 'AB+', 'Good health', '123 Oak St, Horizon Town', '333-666-9999', 6, '12:00'),
('Isabella Wilson', 'O-', 'Healthy donor', '456 Elm St, Twilightville', '444-666-7777', 7, '10:30'),
('Mason Brown', 'A+', 'No known health problems', '789 Birch St, Waterfront', '777-888-1111', 7, '11:45'),
('Abigail Taylor', 'B-', 'No medical issues', '555 Cedar St, Summit City', '999-666-3333', 8, '13:45'),
('Liam Martinez', 'AB-', 'Good health', '321 Spruce St, Basinville', '111-222-4444', 8, '15:00'),
('Ella Miller', 'O+', 'No health concerns', '555 Willow St, Central City', '555-333-1111', 9, '08:30'),
('Jackson Thomas', 'B+', 'Healthy donor', '777 Elm St, Openfield', '777-333-2222', 9, '17:00'),
('Scarlett Smith', 'A-', 'No known health problems', '123 Cedar St, Farmland', '111-222-6666', 10, '14:45'),
('Aiden Garcia', 'O+', 'Good health', '456 Pine St, Countryside', '444-555-8888', 10, '16:30'),
('Madison Johnson', 'AB+', 'No medical issues reported', '789 Spruce St, Villagetown', '555-222-1111', 11, '12:15'),
('Lucas White', 'B-', 'Medical history available', '555 Oak St, Hamletville', '999-444-7777', 11, '13:30'),
('Avery Davis', 'O-', 'Healthy donor', '321 Cedar St, Suburbia', '333-555-9999', 12, '15:45'),
('Aria Taylor', 'A+', 'Liver problem', '888 Fir St, Cityscape', '111-666-3333', 12, '09:30'),
('Grayson Harris', 'B+', 'No', '555 Maple St, Polarville', '444-777-1111', 13, '11:00'),
('Grace Wilson', 'AB+', 'No', '777 Birch St, Sun City', '666-888-2222', 13, '13:15'),
('Carter Smith', 'O-', 'No', '999 Oak St, Horizon Town', '222-111-4444', 14, '14:30'),
('Chloe Brown', 'A-', 'No', '123 Elm St, Twilightville', '333-444-5555', 14, '16:15'),
('Hunter Martinez', 'AB-', 'No', '456 Maple St, Waterfront', '666-777-8888', 15, '10:45'),
('Zoey Davis', 'B+', 'No', '789 Pine St, Summit City', '999-555-2222', 15, '12:00'),
('Carson Thomas', 'O+', 'No', '555 Spruce St, Basinville', '111-444-6666', 16, '13:30');

 * mysql://cyfr7595:***@applied-sql.cs.colorado.edu:3306/cyfr7595
31 rows affected.

[]

In [243]:
%%sql

-- Insert data into the Patient table
INSERT INTO Patient (PatientName, PatientBloodGroup, PatientDisease, donorID)
VALUES
('John Doe','B+', 'Anemia', 1),
('Jane Smith', 'AB-', 'Leukemia', 2),
('William Johnson', 'O-', 'Diabetes', 3),
('Sofia Davis', 'A+', 'Hypertension', 4),
('Henry Wilson', 'B-', 'Asthma', 5),
('Ella Garcia', 'AB+', 'Cancer', 6),
('Ethan Taylor', 'O+', 'Arthritis', 7),
('Amelia Smith', 'A-', 'Anemia', 8),
('Liam White', 'B+', 'Diabetes', 9),
('Olivia Taylor', 'AB-', 'Leukemia', 10),
('Benjamin Wilson', 'O-', 'Hypertension', 11),
('Ava Thomas', 'A+', 'Asthma', 12),
('Lucas Smith', 'B-', 'Cancer', 13),
('Emma Brown', 'AB+', 'Arthritis', 14),
('Mia Garcia', 'O+', 'Anemia', 15),
('Jackson Johnson', 'A-', 'Diabetes', 16),
('Scarlett White', 'B+', 'Leukemia', 17),
('Logan Smith', 'AB-', 'Hypertension', 18),
('Harper Davis', 'O-', 'Asthma', 19),
('Aiden Taylor', 'A+', 'Cancer', 20),
('Chloe Brown', 'B-', 'Arthritis', 21),
('Mason Wilson', 'AB+', 'Anemia', 22),
('Grace Thomas', 'O+', 'Diabetes', 23),
('Zoe Garcia', 'A-', 'Leukemia', 24),
('Elijah White', 'B+', 'Hypertension', 25),
('Aria Taylor', 'AB-', 'Asthma', 26),
('Carter Smith', 'O-', 'Cancer', 27),
('Charlotte Davis', 'A+', 'Arthritis', 28),
('Henry Taylor', 'B-', 'Anemia', 29),
('Luna Smith', 'AB+', 'Diabetes', 30),
('Max Garcia', 'O+', 'Leukemia', 31),
('Lily Brown', 'A-', 'Hypertension', 32),
('Grayson Smith', 'B+', 'Asthma', 33),
('Aurora Taylor', 'AB-', 'Cancer', 34),
('Leo Wilson', 'O-', 'Anemia', 35),
('Penelope Davis', 'A+', 'Diabetes', 36),
('Jack Smith', 'B-', 'Leukemia', 37),
('Stella Garcia', 'AB+', 'Hypertension', 38),
('Zachary White', 'O+', 'Asthma', 39),
('Hazel Wilson', 'A-', 'Cancer', 40),
('Lucy Taylor', 'B+', 'Anemia', 41),
('Owen Davis', 'AB-', 'Diabetes', 42),
('Lillian Smith', 'O-', 'Leukemia', 43),
('James Garcia', 'A+', 'Hypertension', 44),
('Nora Taylor', 'B-', 'Asthma', 45),
('Eli Brown', 'AB+', 'Cancer', 46),
('Mila Thomas', 'O+', 'Anemia', 47),
('Avery White', 'A-', 'Diabetes', 48),
('Parker Smith', 'B+', 'Leukemia', 49),
('Riley Davis', 'AB-', 'Hypertension', 50);

 * mysql://cyfr7595:***@applied-sql.cs.colorado.edu:3306/cyfr7595
50 rows affected.

[]

In [244]:
%%sql

-- Insert data into the Transfusion table
INSERT INTO Transfusion (Date_Time, Donation_ID, Patient_ID, Medical_Professional, BloodBank_ID, Amount)
SELECT
    '2023-11-20 10:30:00' AS Date_Time, 1 AS Donation_ID, 1 AS Patient_ID, 'Dr. Smith' AS Medical_Professional, 1 AS BloodBank_ID, 1 AS Amount
FROM Donor d
JOIN Patient p ON d.donorID = p.donorID
WHERE d.DonorBloodGroup = p.PatientBloodGroup

UNION

SELECT
    '2023-11-21 15:45:00', 2, 2, 'Dr. Johnson', 2, 1
FROM Donor d
JOIN Patient p ON d.donorID = p.donorID
WHERE d.DonorBloodGroup = p.PatientBloodGroup

UNION

SELECT
    '2023-11-22 08:15:00', 3, 3, 'Dr. Davis', 1, 2
FROM Donor d
JOIN Patient p ON d.donorID = p.donorID
WHERE d.DonorBloodGroup = p.PatientBloodGroup

UNION

SELECT
    '2023-11-23 12:00:00', 4, 4, 'Dr. Wilson', 2, 1
FROM Donor d
JOIN Patient p ON d.donorID = p.donorID
WHERE d.DonorBloodGroup = p.PatientBloodGroup

UNION

SELECT
    '2023-11-24 14:30:00', 5, 5, 'Dr. Taylor', 1, 2
FROM Donor d
JOIN Patient p ON d.donorID = p.donorID
WHERE d.DonorBloodGroup = p.PatientBloodGroup

UNION

SELECT
    '2023-11-25 09:45:00', 6, 6, 'Dr. Brown', 2, 2
FROM Donor d
JOIN Patient p ON d.donorID = p.donorID
WHERE d.DonorBloodGroup = p.PatientBloodGroup

UNION

SELECT
    '2023-11-26 11:20:00', 7, 7, 'Dr. Garcia', 1, 1
FROM Donor d
JOIN Patient p ON d.donorID = p.donorID
WHERE d.DonorBloodGroup = p.PatientBloodGroup

UNION

SELECT
    '2023-11-27 13:55:00', 8, 8, 'Dr. White', 2, 1
FROM Donor d
JOIN Patient p ON d.donorID = p.donorID
WHERE d.DonorBloodGroup = p.PatientBloodGroup

UNION

SELECT
    '2023-11-28 16:10:00', 9, 9, 'Dr. Thomas', 1, 2
FROM Donor d
JOIN Patient p ON d.donorID = p.donorID
WHERE d.DonorBloodGroup = p.PatientBloodGroup

UNION

SELECT
    '2023-11-29 10:00:00', 10, 10, 'Dr. Smith', 2, 2
FROM Donor d
JOIN Patient p ON d.donorID = p.donorID
WHERE d.DonorBloodGroup = p.PatientBloodGroup

UNION

SELECT
    '2023-11-30 14:45:00', 11, 11, 'Dr. Johnson', 1, 1
FROM Donor d
JOIN Patient p ON d.donorID = p.donorID
WHERE d.DonorBloodGroup = p.PatientBloodGroup

UNION

SELECT
    '2023-12-01 17:30:00', 12, 12, 'Dr. Davis', 2, 2
FROM Donor d
JOIN Patient p ON d.donorID = p.donorID
WHERE d.DonorBloodGroup = p.PatientBloodGroup

UNION

SELECT
    '2023-12-02 11:15:00', 13, 13, 'Dr. Wilson', 1, 1
FROM Donor d
JOIN Patient p ON d.donorID = p.donorID
WHERE d.DonorBloodGroup = p.PatientBloodGroup

UNION

SELECT
    '2023-12-03 13:40:00', 14, 14, 'Dr. Taylor', 2, 2
FROM Donor d
JOIN Patient p ON d.donorID = p.donorID
WHERE d.DonorBloodGroup = p.PatientBloodGroup

UNION

SELECT
    '2023-12-04 16:05:00', 15, 15, 'Dr. Brown', 1, 2
FROM Donor d
JOIN Patient p ON d.donorID = p.donorID
WHERE d.DonorBloodGroup = p.PatientBloodGroup

UNION

SELECT
    '2023-12-05 09:20:00', 16, 16, 'Dr. Garcia', 2, 1
FROM Donor d
JOIN Patient p ON d.donorID = p.donorID
WHERE d.DonorBloodGroup = p.PatientBloodGroup

UNION

SELECT
    '2023-12-26 10:30:00', 17, 17, 'Dr. Smith', 1, 1
FROM Donor d
JOIN Patient p ON d.donorID = p.donorID
WHERE d.DonorBloodGroup = p.PatientBloodGroup

UNION

SELECT
    '2023-12-27 12:55:00', 18, 18, 'Dr. Johnson', 2, 1
FROM Donor d
JOIN Patient p ON d.donorID = p.donorID
WHERE d.DonorBloodGroup = p.PatientBloodGroup;

 * mysql://cyfr7595:***@applied-sql.cs.colorado.edu:3306/cyfr7595
18 rows affected.

[]

In [245]:
%%sql
SELECT * FROM Transfusion;

 * mysql://cyfr7595:***@applied-sql.cs.colorado.edu:3306/cyfr7595
18 rows affected.

[(1, datetime.datetime(2023, 11, 20, 10, 30), 1, 1, 'Dr. Smith', 1, 1),
 (2, datetime.datetime(2023, 11, 21, 15, 45), 2, 2, 'Dr. Johnson', 2, 1),
 (3, datetime.datetime(2023, 11, 22, 8, 15), 3, 3, 'Dr. Davis', 1, 2),
 (4, datetime.datetime(2023, 11, 23, 12, 0), 4, 4, 'Dr. Wilson', 2, 1),
 (5, datetime.datetime(2023, 11, 24, 14, 30), 5, 5, 'Dr. Taylor', 1, 2),
 (6, datetime.datetime(2023, 11, 25, 9, 45), 6, 6, 'Dr. Brown', 2, 2),
 (7, datetime.datetime(2023, 11, 26, 11, 20), 7, 7, 'Dr. Garcia', 1, 1),
 (8, datetime.datetime(2023, 11, 27, 13, 55), 8, 8, 'Dr. White', 2, 1),
 (9, datetime.datetime(2023, 11, 28, 16, 10), 9, 9, 'Dr. Thomas', 1, 2),
 (10, datetime.datetime(2023, 11, 29, 10, 0), 10, 10, 'Dr. Smith', 2, 2),
 (11, datetime.datetime(2023, 11, 30, 14, 45), 11, 11, 'Dr. Johnson', 1, 1),
 (12, datetime.datetime(2023, 12, 1, 17, 30), 12, 12, 'Dr. Davis', 2, 2),
 (13, datetime.datetime(2023, 12, 2, 11, 15), 13, 13, 'Dr. Wilson', 1, 1),
 (14, datetime.datetime(2023, 12, 3, 13, 40), 14, 14, 'Dr. Taylor', 2, 2),
 (15, datetime.datetime(2023, 12, 4, 16, 5), 15, 15, 'Dr. Brown', 1, 2),
 (16, datetime.datetime(2023, 12, 5, 9, 20), 16, 16, 'Dr. Garcia', 2, 1),
 (17, datetime.datetime(2023, 12, 26, 10, 30), 17, 17, 'Dr. Smith', 1, 1),
 (18, datetime.datetime(2023, 12, 27, 12, 55), 18, 18, 'Dr. Johnson', 2, 1)]

### CHECKING THE VALUES INSERTED

In [246]:
%%sql
SELECT * FROM BloodBank limit 2;

 * mysql://cyfr7595:***@applied-sql.cs.colorado.edu:3306/cyfr7595
2 rows affected.

[(1, 'ABC Blood Bank', '789 Oak St, Cityville', '555-123-4567', 20, 15, 25, 10, 12, 8, 30, 20),
 (2, 'XYZ Blood Bank', '321 Maple St, Townburg', '999-876-5432', 15, 10, 18, 8, 10, 5, 22, 15)]

In [247]:
%%sql
SELECT * FROM Donor limit 2;

 * mysql://cyfr7595:***@applied-sql.cs.colorado.edu:3306/cyfr7595
2 rows affected.

[(1, 'David Johnson', 'B+', 'Healthy', '123 Main St, Anytown', '123-456-7890', 1, datetime.timedelta(seconds=45000)),
 (2, 'Emily White', 'AB-', 'No medical issues', '456 Elm St, Othertown', '987-654-3210', 1, datetime.timedelta(seconds=34200))]

In [248]:
%%sql
SELECT * FROM Patient limit 2;

 * mysql://cyfr7595:***@applied-sql.cs.colorado.edu:3306/cyfr7595
2 rows affected.

[(1, 'John Doe', 'B+', 'Anemia', 1), (2, 'Jane Smith', 'AB-', 'Leukemia', 2)]

In [249]:
%%sql
SELECT * FROM Transfusion limit 2;

 * mysql://cyfr7595:***@applied-sql.cs.colorado.edu:3306/cyfr7595
2 rows affected.

[(1, datetime.datetime(2023, 11, 20, 10, 30), 1, 1, 'Dr. Smith', 1, 1),
 (2, datetime.datetime(2023, 11, 21, 15, 45), 2, 2, 'Dr. Johnson', 2, 1)]

## JOIN TABLES

#### - Join PATIENT and Check DonorMedicalReport

#### - Join DONOR and Check BloodBankName

#### - Join all the tables using the main information BloodBank Name and Address , Donor Name,  Medical Report, Blood Type, Patient Name, Patient, Blood Type, and Disease

#### - Using Group By

In [250]:
%%sql

-- Join Patient and Donor tables; select columns DonorID and DonorMedicalReport
SELECT
    p.PatientName,
    p.PatientBloodGroup,
    d.DonorID,
    d.DonorMedicalReport
FROM
    Patient p
JOIN
    Donor d ON p.donorID = d.DonorID;

 * mysql://cyfr7595:***@applied-sql.cs.colorado.edu:3306/cyfr7595
31 rows affected.

[('John Doe', 'B+', 1, 'Healthy'),
 ('Jane Smith', 'AB-', 2, 'No medical issues'),
 ('William Johnson', 'O-', 3, 'No health concerns'),
 ('Sofia Davis', 'A+', 4, 'Good health'),
 ('Henry Wilson', 'B-', 5, 'Medical history available'),
 ('Ella Garcia', 'AB+', 6, 'Healthy donor'),
 ('Ethan Taylor', 'O+', 7, 'No medical issues reported'),
 ('Amelia Smith', 'A-', 8, 'No known health problems'),
 ('Liam White', 'B+', 9, 'Healthy donor'),
 ('Olivia Taylor', 'AB-', 10, 'Medical history available'),
 ('Benjamin Wilson', 'O-', 11, 'No health issues'),
 ('Ava Thomas', 'A+', 12, 'Good health'),
 ('Lucas Smith', 'B-', 13, 'Healthy donor'),
 ('Emma Brown', 'AB+', 14, 'No known health problems'),
 ('Mia Garcia', 'O+', 15, 'No medical issues'),
 ('Jackson Johnson', 'A-', 16, 'Good health'),
 ('Scarlett White', 'B+', 17, 'No health concerns'),
 ('Logan Smith', 'AB-', 18, 'Healthy donor'),
 ('Harper Davis', 'O-', 19, 'No known health problems'),
 ('Aiden Taylor', 'A+', 20, 'Good health'),
 ('Chloe Brown', 'B-', 21, 'No medical issues reported'),
 ('Mason Wilson', 'AB+', 22, 'Medical history available'),
 ('Grace Thomas', 'O+', 23, 'Healthy donor'),
 ('Zoe Garcia', 'A-', 24, 'Liver problem'),
 ('Elijah White', 'B+', 25, 'No'),
 ('Aria Taylor', 'AB-', 26, 'No'),
 ('Carter Smith', 'O-', 27, 'No'),
 ('Charlotte Davis', 'A+', 28, 'No'),
 ('Henry Taylor', 'B-', 29, 'No'),
 ('Luna Smith', 'AB+', 30, 'No'),
 ('Max Garcia', 'O+', 31, 'No')]

In [251]:
%%sql

-- Join Donor and BloodBank tables and select relevant columns
SELECT
    d.DonorName,
    d.DonorBloodGroup,
    d.bloodbankID,
    bb.BloodBankName,
    bb.BloodBankAddress,
    bb.BloodBankContactNumber
FROM
    Donor d
JOIN
    BloodBank bb ON d.bloodbankID = bb.BloodBankID;

 * mysql://cyfr7595:***@applied-sql.cs.colorado.edu:3306/cyfr7595
31 rows affected.

[('David Johnson', 'B+', 1, 'ABC Blood Bank', '789 Oak St, Cityville', '555-123-4567'),
 ('Emily White', 'AB-', 1, 'ABC Blood Bank', '789 Oak St, Cityville', '555-123-4567'),
 ('Michael Brown', 'A-', 2, 'XYZ Blood Bank', '321 Maple St, Townburg', '999-876-5432'),
 ('Sophia Miller', 'O+', 2, 'XYZ Blood Bank', '321 Maple St, Townburg', '999-876-5432'),
 ('James Smith', 'AB+', 3, 'Blood Bank 1', '123 Elm St, Villagetown', '555-111-2222'),
 ('Olivia Davis', 'B-', 3, 'Blood Bank 1', '123 Elm St, Villagetown', '555-111-2222'),
 ('Ethan Johnson', 'O-', 4, 'Blood Bank 2', '456 Birch St, Hamletville', '777-333-4444'),
 ('Emma Wilson', 'A+', 4, 'Blood Bank 2', '456 Birch St, Hamletville', '777-333-4444'),
 ('Noah Taylor', 'A-', 5, 'Blood Bank 3', '789 Pine St, Countryside', '888-555-6666'),
 ('Ava Harris', 'O+', 5, 'Blood Bank 3', '789 Pine St, Countryside', '888-555-6666'),
 ('Mia Johnson', 'B+', 6, 'City Blood Center', '555 Main St, Metropolitan', '111-222-3333'),
 ('Liam Davis', 'AB+', 6, 'City Blood Center', '555 Main St, Metropolitan', '111-222-3333'),
 ('Isabella Wilson', 'O-', 7, 'Rural Blood Services', '777 Countryside Rd, Farmland', '333-444-5555'),
 ('Mason Brown', 'A+', 7, 'Rural Blood Services', '777 Countryside Rd, Farmland', '333-444-5555'),
 ('Abigail Taylor', 'B-', 8, 'Community Blood Bank', '888 Grove Ave, Suburbia', '444-555-6666'),
 ('Liam Martinez', 'AB-', 8, 'Community Blood Bank', '888 Grove Ave, Suburbia', '444-555-6666'),
 ('Ella Miller', 'O+', 9, 'Urban Blood Facility', '101 Downtown Blvd, Cityscape', '222-333-4444'),
 ('Jackson Thomas', 'B+', 9, 'Urban Blood Facility', '101 Downtown Blvd, Cityscape', '222-333-4444'),
 ('Scarlett Smith', 'A-', 10, 'Northern Blood Bank', '444 Frost St, Polarville', '777-888-9999'),
 ('Aiden Garcia', 'O+', 10, 'Northern Blood Bank', '444 Frost St, Polarville', '777-888-9999'),
 ('Madison Johnson', 'AB+', 11, 'Southern Blood Center', '666 Blaze Rd, Sun City', '333-222-1111'),
 ('Lucas White', 'B-', 11, 'Southern Blood Center', '666 Blaze Rd, Sun City', '333-222-1111'),
 ('Avery Davis', 'O-', 12, 'Eastern Blood Services', '987 Sunrise Blvd, Horizon Town', '111-555-9999'),
 ('Aria Taylor', 'A+', 12, 'Eastern Blood Services', '987 Sunrise Blvd, Horizon Town', '111-555-9999'),
 ('Grayson Harris', 'B+', 13, 'Western Blood Bank', '222 Sunset St, Twilightville', '888-111-2222'),
 ('Grace Wilson', 'AB+', 13, 'Western Blood Bank', '222 Sunset St, Twilightville', '888-111-2222'),
 ('Carter Smith', 'O-', 14, 'Coastal Blood Facility', '555 Ocean Dr, Waterfront', '777-444-5555'),
 ('Chloe Brown', 'A-', 14, 'Coastal Blood Facility', '555 Ocean Dr, Waterfront', '777-444-5555'),
 ('Hunter Martinez', 'AB-', 15, 'Mountain Blood Center', '321 Peak Ave, Summit City', '666-999-3333'),
 ('Zoey Davis', 'B+', 15, 'Mountain Blood Center', '321 Peak Ave, Summit City', '666-999-3333'),
 ('Carson Thomas', 'O+', 16, 'Valley Blood Services', '456 Lowland Rd, Basinville', '555-666-7777')]

In [252]:
%%sql
-- USING GROUP BY
-- Join Donor and BloodBank tables, count donors for each BloodBankID
SELECT
    bb.BloodBankID,
    bb.BloodBankName,
    bb.BloodBankAddress,
    bb.BloodBankContactNumber,
    COUNT(d.DonorID) AS NumberOfDonors
FROM
    Donor d
JOIN
    BloodBank bb ON d.bloodbankID = bb.BloodBankID
GROUP BY
    bb.BloodBankID, bb.BloodBankName, bb.BloodBankAddress, bb.BloodBankContactNumber;

 * mysql://cyfr7595:***@applied-sql.cs.colorado.edu:3306/cyfr7595
16 rows affected.

[(1, 'ABC Blood Bank', '789 Oak St, Cityville', '555-123-4567', 2),
 (2, 'XYZ Blood Bank', '321 Maple St, Townburg', '999-876-5432', 2),
 (3, 'Blood Bank 1', '123 Elm St, Villagetown', '555-111-2222', 2),
 (4, 'Blood Bank 2', '456 Birch St, Hamletville', '777-333-4444', 2),
 (5, 'Blood Bank 3', '789 Pine St, Countryside', '888-555-6666', 2),
 (6, 'City Blood Center', '555 Main St, Metropolitan', '111-222-3333', 2),
 (7, 'Rural Blood Services', '777 Countryside Rd, Farmland', '333-444-5555', 2),
 (8, 'Community Blood Bank', '888 Grove Ave, Suburbia', '444-555-6666', 2),
 (9, 'Urban Blood Facility', '101 Downtown Blvd, Cityscape', '222-333-4444', 2),
 (10, 'Northern Blood Bank', '444 Frost St, Polarville', '777-888-9999', 2),
 (11, 'Southern Blood Center', '666 Blaze Rd, Sun City', '333-222-1111', 2),
 (12, 'Eastern Blood Services', '987 Sunrise Blvd, Horizon Town', '111-555-9999', 2),
 (13, 'Western Blood Bank', '222 Sunset St, Twilightville', '888-111-2222', 2),
 (14, 'Coastal Blood Facility', '555 Ocean Dr, Waterfront', '777-444-5555', 2),
 (15, 'Mountain Blood Center', '321 Peak Ave, Summit City', '666-999-3333', 2),
 (16, 'Valley Blood Services', '456 Lowland Rd, Basinville', '555-666-7777', 1)]

In [253]:
%%sql
-- Join 3 tables and select relevant columns based on patient table
SELECT

    p.PatientName,
    p.PatientBloodGroup,
    p.PatientDisease,
    d.DonorName,
    d.DonorBloodGroup,
    d.DonorMedicalReport,
    bb.BloodBankName,
    bb.BloodBankAddress
FROM
    Donor d
JOIN
    BloodBank bb ON d.bloodbankID = bb.BloodBankID
JOIN
    Patient p ON d.donorID = p.donorID;

 * mysql://cyfr7595:***@applied-sql.cs.colorado.edu:3306/cyfr7595
31 rows affected.

[('John Doe', 'B+', 'Anemia', 'David Johnson', 'B+', 'Healthy', 'ABC Blood Bank', '789 Oak St, Cityville'),
 ('Jane Smith', 'AB-', 'Leukemia', 'Emily White', 'AB-', 'No medical issues', 'ABC Blood Bank', '789 Oak St, Cityville'),
 ('William Johnson', 'O-', 'Diabetes', 'Michael Brown', 'A-', 'No health concerns', 'XYZ Blood Bank', '321 Maple St, Townburg'),
 ('Sofia Davis', 'A+', 'Hypertension', 'Sophia Miller', 'O+', 'Good health', 'XYZ Blood Bank', '321 Maple St, Townburg'),
 ('Henry Wilson', 'B-', 'Asthma', 'James Smith', 'AB+', 'Medical history available', 'Blood Bank 1', '123 Elm St, Villagetown'),
 ('Ella Garcia', 'AB+', 'Cancer', 'Olivia Davis', 'B-', 'Healthy donor', 'Blood Bank 1', '123 Elm St, Villagetown'),
 ('Ethan Taylor', 'O+', 'Arthritis', 'Ethan Johnson', 'O-', 'No medical issues reported', 'Blood Bank 2', '456 Birch St, Hamletville'),
 ('Amelia Smith', 'A-', 'Anemia', 'Emma Wilson', 'A+', 'No known health problems', 'Blood Bank 2', '456 Birch St, Hamletville'),
 ('Liam White', 'B+', 'Diabetes', 'Noah Taylor', 'A-', 'Healthy donor', 'Blood Bank 3', '789 Pine St, Countryside'),
 ('Olivia Taylor', 'AB-', 'Leukemia', 'Ava Harris', 'O+', 'Medical history available', 'Blood Bank 3', '789 Pine St, Countryside'),
 ('Benjamin Wilson', 'O-', 'Hypertension', 'Mia Johnson', 'B+', 'No health issues', 'City Blood Center', '555 Main St, Metropolitan'),
 ('Ava Thomas', 'A+', 'Asthma', 'Liam Davis', 'AB+', 'Good health', 'City Blood Center', '555 Main St, Metropolitan'),
 ('Lucas Smith', 'B-', 'Cancer', 'Isabella Wilson', 'O-', 'Healthy donor', 'Rural Blood Services', '777 Countryside Rd, Farmland'),
 ('Emma Brown', 'AB+', 'Arthritis', 'Mason Brown', 'A+', 'No known health problems', 'Rural Blood Services', '777 Countryside Rd, Farmland'),
 ('Mia Garcia', 'O+', 'Anemia', 'Abigail Taylor', 'B-', 'No medical issues', 'Community Blood Bank', '888 Grove Ave, Suburbia'),
 ('Jackson Johnson', 'A-', 'Diabetes', 'Liam Martinez', 'AB-', 'Good health', 'Community Blood Bank', '888 Grove Ave, Suburbia'),
 ('Scarlett White', 'B+', 'Leukemia', 'Ella Miller', 'O+', 'No health concerns', 'Urban Blood Facility', '101 Downtown Blvd, Cityscape'),
 ('Logan Smith', 'AB-', 'Hypertension', 'Jackson Thomas', 'B+', 'Healthy donor', 'Urban Blood Facility', '101 Downtown Blvd, Cityscape'),
 ('Harper Davis', 'O-', 'Asthma', 'Scarlett Smith', 'A-', 'No known health problems', 'Northern Blood Bank', '444 Frost St, Polarville'),
 ('Aiden Taylor', 'A+', 'Cancer', 'Aiden Garcia', 'O+', 'Good health', 'Northern Blood Bank', '444 Frost St, Polarville'),
 ('Chloe Brown', 'B-', 'Arthritis', 'Madison Johnson', 'AB+', 'No medical issues reported', 'Southern Blood Center', '666 Blaze Rd, Sun City'),
 ('Mason Wilson', 'AB+', 'Anemia', 'Lucas White', 'B-', 'Medical history available', 'Southern Blood Center', '666 Blaze Rd, Sun City'),
 ('Grace Thomas', 'O+', 'Diabetes', 'Avery Davis', 'O-', 'Healthy donor', 'Eastern Blood Services', '987 Sunrise Blvd, Horizon Town'),
 ('Zoe Garcia', 'A-', 'Leukemia', 'Aria Taylor', 'A+', 'Liver problem', 'Eastern Blood Services', '987 Sunrise Blvd, Horizon Town'),
 ('Elijah White', 'B+', 'Hypertension', 'Grayson Harris', 'B+', 'No', 'Western Blood Bank', '222 Sunset St, Twilightville'),
 ('Aria Taylor', 'AB-', 'Asthma', 'Grace Wilson', 'AB+', 'No', 'Western Blood Bank', '222 Sunset St, Twilightville'),
 ('Carter Smith', 'O-', 'Cancer', 'Carter Smith', 'O-', 'No', 'Coastal Blood Facility', '555 Ocean Dr, Waterfront'),
 ('Charlotte Davis', 'A+', 'Arthritis', 'Chloe Brown', 'A-', 'No', 'Coastal Blood Facility', '555 Ocean Dr, Waterfront'),
 ('Henry Taylor', 'B-', 'Anemia', 'Hunter Martinez', 'AB-', 'No', 'Mountain Blood Center', '321 Peak Ave, Summit City'),
 ('Luna Smith', 'AB+', 'Diabetes', 'Zoey Davis', 'B+', 'No', 'Mountain Blood Center', '321 Peak Ave, Summit City'),
 ('Max Garcia', 'O+', 'Leukemia', 'Carson Thomas', 'O+', 'No', 'Valley Blood Services', '456 Lowland Rd, Basinville')]

# INDEXES

In [254]:
%%sql 
-- Donation_ID = DonorID

SELECT Transfusion.*, Donor.*
FROM Transfusion
JOIN Donor ON Transfusion.Donation_ID = Donor.DonorID;

 * mysql://cyfr7595:***@applied-sql.cs.colorado.edu:3306/cyfr7595
18 rows affected.

[(1, datetime.datetime(2023, 11, 20, 10, 30), 1, 1, 'Dr. Smith', 1, 1, 1, 'David Johnson', 'B+', 'Healthy', '123 Main St, Anytown', '123-456-7890', 1, datetime.timedelta(seconds=45000)),
 (2, datetime.datetime(2023, 11, 21, 15, 45), 2, 2, 'Dr. Johnson', 2, 1, 2, 'Emily White', 'AB-', 'No medical issues', '456 Elm St, Othertown', '987-654-3210', 1, datetime.timedelta(seconds=34200)),
 (3, datetime.datetime(2023, 11, 22, 8, 15), 3, 3, 'Dr. Davis', 1, 2, 3, 'Michael Brown', 'A-', 'No health concerns', '789 Oak St, Cityville', '555-111-2222', 2, datetime.timedelta(seconds=38700)),
 (4, datetime.datetime(2023, 11, 23, 12, 0), 4, 4, 'Dr. Wilson', 2, 1, 4, 'Sophia Miller', 'O+', 'Good health', '321 Maple St, Townburg', '999-222-3333', 2, datetime.timedelta(seconds=51300)),
 (5, datetime.datetime(2023, 11, 24, 14, 30), 5, 5, 'Dr. Taylor', 1, 2, 5, 'James Smith', 'AB+', 'Medical history available', '555 Pine St, Villagetown', '333-444-5555', 3, datetime.timedelta(seconds=41400)),
 (6, datetime.datetime(2023, 11, 25, 9, 45), 6, 6, 'Dr. Brown', 2, 2, 6, 'Olivia Davis', 'B-', 'Healthy donor', '777 Cedar St, Hamletville', '777-888-9999', 3, datetime.timedelta(seconds=46800)),
 (7, datetime.datetime(2023, 11, 26, 11, 20), 7, 7, 'Dr. Garcia', 1, 1, 7, 'Ethan Johnson', 'O-', 'No medical issues reported', '111 Birch St, Farmland', '444-555-6666', 4, datetime.timedelta(seconds=55800)),
 (8, datetime.datetime(2023, 11, 27, 13, 55), 8, 8, 'Dr. White', 2, 1, 8, 'Emma Wilson', 'A+', 'No known health problems', '888 Spruce St, Suburbia', '555-666-7777', 4, datetime.timedelta(seconds=31500)),
 (9, datetime.datetime(2023, 11, 28, 16, 10), 9, 9, 'Dr. Thomas', 1, 2, 9, 'Noah Taylor', 'A-', 'Healthy donor', '555 Fir St, Cityscape', '999-777-8888', 5, datetime.timedelta(seconds=58500)),
 (10, datetime.datetime(2023, 11, 29, 10, 0), 10, 10, 'Dr. Smith', 2, 2, 10, 'Ava Harris', 'O+', 'Medical history available', '777 Willow St, Polarville', '222-333-4444', 5, datetime.timedelta(seconds=52200)),
 (11, datetime.datetime(2023, 11, 30, 14, 45), 11, 11, 'Dr. Johnson', 1, 1, 11, 'Mia Johnson', 'B+', 'No health issues', '999 Pine St, Sun City', '111-555-9999', 6, datetime.timedelta(seconds=32400)),
 (12, datetime.datetime(2023, 12, 1, 17, 30), 12, 12, 'Dr. Davis', 2, 2, 12, 'Liam Davis', 'AB+', 'Good health', '123 Oak St, Horizon Town', '333-666-9999', 6, datetime.timedelta(seconds=43200)),
 (13, datetime.datetime(2023, 12, 2, 11, 15), 13, 13, 'Dr. Wilson', 1, 1, 13, 'Isabella Wilson', 'O-', 'Healthy donor', '456 Elm St, Twilightville', '444-666-7777', 7, datetime.timedelta(seconds=37800)),
 (14, datetime.datetime(2023, 12, 3, 13, 40), 14, 14, 'Dr. Taylor', 2, 2, 14, 'Mason Brown', 'A+', 'No known health problems', '789 Birch St, Waterfront', '777-888-1111', 7, datetime.timedelta(seconds=42300)),
 (15, datetime.datetime(2023, 12, 4, 16, 5), 15, 15, 'Dr. Brown', 1, 2, 15, 'Abigail Taylor', 'B-', 'No medical issues', '555 Cedar St, Summit City', '999-666-3333', 8, datetime.timedelta(seconds=49500)),
 (16, datetime.datetime(2023, 12, 5, 9, 20), 16, 16, 'Dr. Garcia', 2, 1, 16, 'Liam Martinez', 'AB-', 'Good health', '321 Spruce St, Basinville', '111-222-4444', 8, datetime.timedelta(seconds=54000)),
 (17, datetime.datetime(2023, 12, 26, 10, 30), 17, 17, 'Dr. Smith', 1, 1, 17, 'Ella Miller', 'O+', 'No health concerns', '555 Willow St, Central City', '555-333-1111', 9, datetime.timedelta(seconds=30600)),
 (18, datetime.datetime(2023, 12, 27, 12, 55), 18, 18, 'Dr. Johnson', 2, 1, 18, 'Jackson Thomas', 'B+', 'Healthy donor', '777 Elm St, Openfield', '777-333-2222', 9, datetime.timedelta(seconds=61200))]

In [255]:
%%sql

-- Join Transfusion Where DonorID = 9
SELECT Patient.*, Transfusion.*
FROM Patient
JOIN Transfusion ON Patient.donorID = Transfusion.Donation_ID
WHERE Patient.donorID = 9;

 * mysql://cyfr7595:***@applied-sql.cs.colorado.edu:3306/cyfr7595
1 rows affected.

[(9, 'Liam White', 'B+', 'Diabetes', 9, 9, datetime.datetime(2023, 11, 28, 16, 10), 9, 9, 'Dr. Thomas', 1, 2)]

In [256]:
%%sql

-- Find all the donations for BloodBankID = 9
SELECT Donor.*, BloodBank.*
FROM Donor
JOIN BloodBank ON Donor.bloodbankID = BloodBank.BloodBankID
WHERE BloodBank.BloodBankID = 9;

 * mysql://cyfr7595:***@applied-sql.cs.colorado.edu:3306/cyfr7595
2 rows affected.

[(17, 'Ella Miller', 'O+', 'No health concerns', '555 Willow St, Central City', '555-333-1111', 9, datetime.timedelta(seconds=30600), 9, 'Urban Blood Facility', '101 Downtown Blvd, Cityscape', '222-333-4444', 30, 25, 35, 18, 22, 15, 40, 30),
 (18, 'Jackson Thomas', 'B+', 'Healthy donor', '777 Elm St, Openfield', '777-333-2222', 9, datetime.timedelta(seconds=61200), 9, 'Urban Blood Facility', '101 Downtown Blvd, Cityscape', '222-333-4444', 30, 25, 35, 18, 22, 15, 40, 30)]

# QUERIES

In [292]:
%%sql
-- Query: Name of Donor Blood Group O+ and Patient Blood Group O+
SELECT
    p.PatientName AS PersonName,
    p.PatientBloodGroup AS BloodGroup,
    p.PatientDisease AS Disease,
    'Patient' AS Type,
    bb.BloodBankName,
    bb.BloodBankAddress
FROM
    Patient p
JOIN
    Donor d ON p.donorID = d.donorID
JOIN
    BloodBank bb ON d.bloodbankID = bb.BloodBankID
WHERE
    p.PatientBloodGroup = 'O+'

UNION ALL

SELECT
    d.DonorName AS PersonName,
    d.DonorBloodGroup AS BloodGroup,
    d.DonorMedicalReport AS MedicalReport,
    'Donor' AS Type,
    bb.BloodBankName,
    bb.BloodBankAddress
FROM
    Donor d
JOIN
    BloodBank bb ON d.bloodbankID = bb.BloodBankID
WHERE
    d.DonorBloodGroup = 'O+';

 * mysql://cyfr7595:***@applied-sql.cs.colorado.edu:3306/cyfr7595
9 rows affected.

[('Ethan Taylor', 'O+', 'Arthritis', 'Patient', 'Blood Bank 2', '456 Birch St, Hamletville'),
 ('Mia Garcia', 'O+', 'Anemia', 'Patient', 'Community Blood Bank', '888 Grove Ave, Suburbia'),
 ('Grace Thomas', 'O+', 'Diabetes', 'Patient', 'Eastern Blood Services', '987 Sunrise Blvd, Horizon Town'),
 ('Max Garcia', 'O+', 'Leukemia', 'Patient', 'Valley Blood Services', '456 Lowland Rd, Basinville'),
 ('Sophia Miller', 'O+', 'Good health', 'Donor', 'XYZ Blood Bank', '321 Maple St, Townburg'),
 ('Ava Harris', 'O+', 'Medical history available', 'Donor', 'Blood Bank 3', '789 Pine St, Countryside'),
 ('Ella Miller', 'O+', 'No health concerns', 'Donor', 'Urban Blood Facility', '101 Downtown Blvd, Cityscape'),
 ('Aiden Garcia', 'O+', 'Good health', 'Donor', 'Northern Blood Bank', '444 Frost St, Polarville'),
 ('Carson Thomas', 'O+', 'No', 'Donor', 'Valley Blood Services', '456 Lowland Rd, Basinville')]

In [258]:
%%sql
-- Count Patients with anemia
SELECT COUNT(*) AS AnemiaPatientCount
FROM Patient
WHERE PatientDisease = 'Anemia';

 * mysql://cyfr7595:***@applied-sql.cs.colorado.edu:3306/cyfr7595
1 rows affected.

[(8,)]

## TRIGGERS AND UPDATES
#### Delete in cascade from all the tables (Deleting Foreign Keys)

In [283]:
%%sql

-- Drop the trigger if it exists
DROP TRIGGER IF EXISTS before_delete_bloodbank_cascade;

-- Create a trigger for cascading delete when a bloodbank is deleted
CREATE TRIGGER before_delete_bloodbank_cascade
BEFORE DELETE ON BloodBank
FOR EACH ROW
BEGIN
    -- Delete all transfusions associated with the bloodbank being deleted
    DELETE FROM Transfusion
    WHERE Donation_ID IN (SELECT DonorID FROM Donor WHERE bloodbankID = OLD.BloodBankID);

    -- Delete all donors associated with the bloodbank being deleted
    DELETE FROM Donor
    WHERE bloodbankID = OLD.BloodBankID;
END;

 * mysql://cyfr7595:***@applied-sql.cs.colorado.edu:3306/cyfr7595
0 rows affected.
0 rows affected.

[]

In [295]:
%%sql

DELETE FROM Transfusion WHERE BloodBank_ID = 1;

DELETE FROM BloodBank WHERE BloodBankID = 1;

-- Check the data in the Donor table after deletion
SELECT * FROM Donor limit 1;

 * mysql://cyfr7595:***@applied-sql.cs.colorado.edu:3306/cyfr7595
0 rows affected.
0 rows affected.
1 rows affected.

[(1, 'John Doe', 'A+', 'Healthy', None, None, 1, None)]

#### Blood Transfusion checks blood type before inserting values

In [286]:
%%sql

-- Drop the trigger if it already exists
DROP TRIGGER IF EXISTS before_insert_transfusion_check_blood_type;

-- Create the trigger
CREATE TRIGGER before_insert_transfusion_check_blood_type
BEFORE INSERT ON Transfusion
FOR EACH ROW
BEGIN
    -- Get the blood types of the donor and patient
    DECLARE donorBloodType VARCHAR(10);
    DECLARE patientBloodType VARCHAR(10);

    SELECT DonorBloodGroup INTO donorBloodType
    FROM Donor
    WHERE DonorID = NEW.Donation_ID;

    SELECT PatientBloodGroup INTO patientBloodType
    FROM Patient
    WHERE PatientID = NEW.Patient_ID;

    -- Check if the blood types match
    IF donorBloodType != patientBloodType THEN
        -- Raise an error to prevent the insertion
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Blood types of donor and patient do not match. Transfusion denied.';
    END IF;
END;

 * mysql://cyfr7595:***@applied-sql.cs.colorado.edu:3306/cyfr7595
0 rows affected.
0 rows affected.

[]

In [296]:
%%sql

-- Attempt to insert a transfusion record (replace 'values' with your actual values)
INSERT INTO Transfusion (Date_Time, Donation_ID, Patient_ID, Medical_Professional, BloodBank_ID, Amount)
VALUES ('2023-12-01 14:00:00', 1, 2, 'Dr. Johnson', 1, 1);

-- Check the data in the Transfusion table after insertion
SELECT * FROM Transfusion;

 * mysql://cyfr7595:***@applied-sql.cs.colorado.edu:3306/cyfr7595
(MySQLdb.OperationalError) (1644, 'Blood types of donor and patient do not match. Transfusion denied.')
[SQL: -- Attempt to insert a transfusion record (replace 'values' with your actual values)
INSERT INTO Transfusion (Date_Time, Donation_ID, Patient_ID, Medical_Professional, BloodBank_ID, Amount)
VALUES ('2023-12-01 14:00:00', 1, 2, 'Dr. Johnson', 1, 1);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

#### Create a trigger that does not allow a patient with medical condition to receive blood from a donor that also has a medical condition, except if the patient has only anemia

In [288]:
%%sql

DROP TRIGGER IF EXISTS before_insert_transfusion_check_medical_condition;

-- create a trigger that does not allow a patient with medical condition to receive blood from a donor that also has a medical condition, 
-- except if the patient has only anemia

CREATE TRIGGER before_insert_transfusion_check_medical_condition
BEFORE INSERT ON Transfusion
FOR EACH ROW
BEGIN
    -- Get the medical conditions of the donor and patient
    DECLARE donorMedicalCondition TEXT;
    DECLARE patientMedicalCondition TEXT;

    SELECT DonorMedicalReport INTO donorMedicalCondition
    FROM Donor
    WHERE DonorID = NEW.Donation_ID;

    SELECT PatientDisease INTO patientMedicalCondition
    FROM Patient
    WHERE PatientID = NEW.Patient_ID;

    -- Check if both donor and patient have medical conditions, except if patient has only anemia
    IF donorMedicalCondition IS NOT NULL AND patientMedicalCondition IS NOT NULL AND patientMedicalCondition != 'Anemia' THEN
        -- Raise an error to prevent the insertion
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Transfusion denied. Patient and donor both have medical conditions.';
    END IF;
END;

 * mysql://cyfr7595:***@applied-sql.cs.colorado.edu:3306/cyfr7595
0 rows affected.
0 rows affected.

[]

In [303]:
%%sql
-- Try to insert a transfusion with a donor having leukemia
-- and a patient with O+ blood group and asthma
INSERT INTO Transfusion (
    Date_Time, Donation_ID, Patient_ID, Medical_Professional, BloodBank_ID, Amount
) VALUES (
    '2023-01-01 10:30:00', 35, 39, 'Dr. Smith', 1, 1
);

 * mysql://cyfr7595:***@applied-sql.cs.colorado.edu:3306/cyfr7595
(MySQLdb.OperationalError) (1644, 'Transfusion denied. Patient and donor both have medical conditions.')
[SQL: -- Try to insert a transfusion with a donor having leukemia
-- and a patient with O+ blood group and asthma
INSERT INTO Transfusion (
    Date_Time, Donation_ID, Patient_ID, Medical_Professional, BloodBank_ID, Amount
) VALUES (
    '2023-01-01 10:30:00', 35, 39, 'Dr. Smith', 1, 1
);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

## MULTIPLE TABLES

#### - DONOR and BloodBank (DonorBloodBank)

In [272]:
%%sql
-- Create DonorBloodBank table
CREATE TABLE IF NOT EXISTS DonorBloodBank (
    DonorBloodBank_ID INT AUTO_INCREMENT PRIMARY KEY, 
    Donor_ID INT,
    BloodBank_ID INT,
    FOREIGN KEY(Donor_ID) REFERENCES Donor(DonorID),
    FOREIGN KEY(BloodBank_ID) REFERENCES BloodBank(BloodBankID)
);

-- Insert dummy data into DonorBloodBank table
INSERT INTO DonorBloodBank (Donor_ID, BloodBank_ID)
VALUES
(3, 3); -- Donor with ID 2 donating to BloodBank with ID 2

 * mysql://cyfr7595:***@applied-sql.cs.colorado.edu:3306/cyfr7595
0 rows affected.
1 rows affected.

[]

In [273]:
%%sql
SELECT * FROM DonorBloodBank limit 2;

 * mysql://cyfr7595:***@applied-sql.cs.colorado.edu:3306/cyfr7595
1 rows affected.

[(6, 3, 3)]

#### - Transfusion, Patient and BloodBank

In [293]:
%%sql
DROP TABLE IF EXISTS TransfusionPatientBB;

-- Create TransfusionPatientBB table
CREATE TABLE IF NOT EXISTS TransfusionPatientBB (
    Transfusion_ID INT AUTO_INCREMENT PRIMARY KEY, 
    Date_Time DATETIME, 
    Donation_ID INT, 
    Patient_ID INT, 
    Medical_Professional VARCHAR(90), 
    BloodBank_ID INT, 
    Amount INT,
    PatientName VARCHAR(100),
    PatientBloodGroup VARCHAR(10),
    PatientDisease VARCHAR(100),
    BloodBankName VARCHAR(100),
    BloodBankAddress VARCHAR(200),
    BloodBankContactNumber VARCHAR(20),
    FOREIGN KEY(Donation_ID) REFERENCES Donor(DonorID),
    FOREIGN KEY(Patient_ID) REFERENCES Patient(PatientID),
    FOREIGN KEY(BloodBank_ID) REFERENCES BloodBank(BloodBankID)
);

 * mysql://cyfr7595:***@applied-sql.cs.colorado.edu:3306/cyfr7595
0 rows affected.
0 rows affected.

[]